/* Regular */
// @font-face {
//     font-family: 'League Gothic';
//     src: url('../fonts/leaguegothic-italic-webfont.eot');
//     src: url('../fonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/leaguegothic-italic-webfont.woff') format('woff'),
//          url('../fonts/leaguegothic-italic-webfont.ttf') format('truetype'),
//          url('../fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
//     font-weight: normal;
//     font-style: italic;

// }

// /* Italic */
// @font-face {
//     font-family: 'League Gothic';
//     src: url('../fonts/leaguegothic-regular-webfont.eot');
//     src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
//          url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
//          url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }

// /* Condensed */
// @font-face {
//     font-family: 'League Gothic Condensed';
//     src: url('../fonts/leaguegothic-condensed-regular-webfont.eot');
//     src: url('../fonts/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/leaguegothic-condensed-regular-webfont.woff') format('woff'),
//          url('../fonts/leaguegothic-condensed-regular-webfont.ttf') format('truetype'),
//          url('../fonts/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }

// /* Condensed Italic */
// @font-face {
//     font-family: 'League Gothic Condensed';
//     src: url('../fonts/leaguegothic-condensed-italic-webfont.eot');
//     src: url('../fonts/leaguegothic-condensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/leaguegothic-condensed-italic-webfont.woff') format('woff'),
//          url('../fonts/leaguegothic-condensed-italic-webfont.ttf') format('truetype'),
//          url('../fonts/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg') format('svg');
//     font-weight: normal;
//     font-style: italic;
// }


@font-face {
    font-family: 'hero_lightlight';
    src: url('../fonts/hero_light-webfont.eot');
    src: url('../fonts/hero_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hero_light-webfont.woff2') format('woff2'),
         url('../fonts/hero_light-webfont.woff') format('woff'),
         url('../fonts/hero_light-webfont.ttf') format('truetype'),
         url('../fonts/hero_light-webfont.svg#hero_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'heroregular';
    src: url('../fonts/hero-webfont.eot');
    src: url('../fonts/hero-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hero-webfont.woff2') format('woff2'),
         url('../fonts/hero-webfont.woff') format('woff'),
         url('../fonts/hero-webfont.ttf') format('truetype'),
         url('../fonts/hero-webfont.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;

}





header{
    position: relative;
    margin-top: 1.2em;
    @include desde (web){
        margin-top:0;
    }
    .profile{
        position: absolute;
        top: -13px;//3
        right: 10px;
        @include desde (tablet){
            top: 10px;
            right: 30px;
        }
        @include desde (hd){
            right: 150px;
        }
        p{
            color: $blanco;
            font-size: 0.8em;
            @include desde (tablet){
                font-size: 0.9em;
            }
        }
        .getOut{
            width: 100%;
            a{
                padding: 4px 8px;
                color: #fff;
                text-align: center;
                border-radius: 60px;
                display: block;
                border: 1px solid #fff;
                font-size: 0.6em;
                width: 56%;
                position: relative;
                left: 40px;
                @include desde (tablet){
                    width: 100%;
                    left: 0px;
                    font-size: 0.9em;
                }
                // padding: 8px 12px;
                // color: $blanco;
                // text-align: center;
                // border-radius: 60px;
                // display: block;
                // border: 1px solid $blanco;
                // font-size: 0.8em;
            }
        }
    }
}


.logo{
    text-align: center;
    margin-top: 1em;
    @include desde (tablet){
        margin-top: 3em;
    }
    img{
        width: 80%;
        @include desde (tablet){
            width: 40%;
        }

        @include desde (web){
            width: 25%;
        }
    }
}

.logo__interiores{
    text-align: center;
    margin-top: 1em;
    img{
        width: 60%;
        @include desde (tablet){
            width: 40%;
            text-align: center;
        }

        @include desde (web){
            width: 25%;
        }


    }
}