section.content{
	width: 100%;
	text-align: center;
	p{
		text-align:center;
		font-size: 1em;
		color: $blanco;
		margin-top: 1em;
		margin-bottom: 1em;
    padding: 0 10px;
		@include desde (tablet){
			font-size: 1.25em;
		}
	}
	p.T-exibicion{
		margin:0 !important;
	}


.tabs {
  width: 100%;  
  float: none;
  list-style: none;
  position: relative;
  margin: 0px;
  padding: 0;
  text-align: left;
  background: transparent;//#fff
  min-height: 450px;
  @include desde (web){
  	width: 60%;
  	margin:1.3em auto 0 auto;
  	min-height: 570px;
  }
  li {
    float: left;
    display: block;
    width: 100%;//50
    background: transparent;//#fff
    border-right:1px solid $rojo;
    border-bottom: 1px solid $rojo;
    text-align: center;
    margin: 5px;
    &:last-child{
    	border-right: none;
    }
  }

  input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  label {
    width: 80%;
    display: block;
    padding: 5px 20px;//14 20
    // border-radius: 2px 2px 0 0;
    border-radius: 62px 62px 62px 62px;
    -moz-border-radius: 62px 62px 62px 62px;
    -webkit-border-radius: 62px 62px 62px 62px;
    border: 1px solid #fff;
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    //background: $tabs-base-color;
    cursor: pointer;
    position: relative;
    //top: 4px; 
    //transition: all .3s ;
    cursor:pointer;
    margin: 0 auto;
    @include desde (web){
      width: 60%;
    }
    /*&:hover {
      background: darken($tabs-base-color, 10);
    }*/
  }

    .tab-content{
	    z-index: 2;
	    display: none; 
	    overflow: hidden;
	    width: 100%;
	    font-size: 17px;
	    line-height: 25px;
	    padding: 25px;  
	    position: absolute;
	    top: 112px; //53
	    left: 0; 
	    //background: $blanco;
	    p{
	    	color: $blanco;
	    	font-family: 'Open Sans';
	    	font-weight: normal;
	    	font-size: 0.9em;
	    	text-align: left;
        @include desde (web){
          padding: 0px 95px; 
        }
	    }
	    .ima-B-M{
	    	//margin-top: 1em;
        position: relative;
	    	width: 100%;
        background: #d11116;
        padding: 10px;
        img{
          display: block;
          border: 2px solid #fff;
        }
        @include desde (web){
          width: 96%;
        }
        @include desde (hd){
            width: 81%;
            margin: 0 auto;
        }
        .corchete-l, .corchete-r{
          position: absolute;
          display: none;
            img{
                border: none;
            }
          @include desde (tablet){
            display:block;
            width: 31px;
            height: auto;
          }
        }
        .corchete-l{
          left: -4px;
          top: -3px;
        }
        .corchete-r{
          right: -4px;
          top: -3px;
        }
	    }
  	}

		  	  //The Magic
		  [id^="tab"]:checked + label { 
		    top: 0;
		   // padding-top: 8px; //17
		    //background: darken($tabs-base-color, 15); 
		  }
		  [id^="tab"]:checked ~ [id^="tab-content"] {
		    display: block;
		  }


  	}//final

}//final content

section.go{
	width: 100%;
	
  a.aceptar{
	color: #fff;
    display: block;
    width: 70%;
    text-align: center;
    border: none;
    -webkit-appearance: none;
    text-align: center;
    border: 3px solid #89030D;
    background: #fff;
    padding: 10px;
    font-size: 1.3em;
   font-family: 'Open Sans';
    color: #89030D;
    text-transform: uppercase;
    margin: 1.3em auto 1.3em auto;
	    @include desde (web){
	    	width: 15%;
	    }

	}
  .aceptar-nu{
    color: #fff;
    display: block;
    width: 70%;
    text-align: center;
    border: none;
    -webkit-appearance: none;
    text-align: center;
    border: 2px solid $blanco;
    background: transparent;
    padding: 10px;
    font-size: 1.1em;
   font-family: 'Open Sans';
    color: $blanco;
    text-transform: uppercase;
    margin: 1.3em auto 1.3em auto;
    border-radius: 60px;
    cursor: pointer;
      @include desde (web){
        width: 24%;//15
      }

  }

}//fin go


section.go{
  // width: 1024px;
  height: auto;
  margin: 0 auto;

  .vayale{
      margin-top: 70px;
    input.aceptar-button{
      color: #fff;
      display: block;
      width: 70%;
      border-radius: 62px 62px 62px 62px;
      -moz-border-radius: 62px 62px 62px 62px;
      -webkit-border-radius: 62px 62px 62px 62px;
      text-align: center;
      border: none;
      -webkit-appearance: none;
      text-align: center;
      border: 2px solid #fff;
      background: transparent;
      padding: 6px 10px;
      font-size: 1.1em;
      font-family: 'Open Sans';
      color: #fff;
      text-transform: uppercase;
      margin: 1.3em auto 1.3em auto;
      cursor: pointer;
        @include desde (web){
          width: 15%;
        }
      }
  }

}







