section.content{
	h1{
		color:$blanco;
		text-align: center;
		font-size: 1.3em;
	}
	.menu-perfils{
		width: 55%;
		text-align: center;
		margin: 0 auto;
		@include desde (tablet){
			width: 35%;
		}
		@include desde (web){
			width: 22%;
		}
		ul{
			margin: 0;
			padding: 0;
			list-style-type: none;
			li{
				margin-bottom: 1em;
				a{
					padding: 4px 8px;
					color: #fff;
					text-align: center;
					border-radius: 60px;
					display: block;
					border: 1px solid #fff;
					font-size: 1em;
					//width: 56%;
					@include desde (tablet){
						font-size: 1em;
					}
				}
			}
		}
	}

	form.cambia_contra{
		width: 100%;
		height: auto;
			label{
				width: 100%;
				color:$blanco;
			}
			input[type="password"]{
			width: 65%;
			padding: 8px;
			margin: 0.8em auto;
			display: block;
				@include desde (tablet){
					width: 35%;
				}
				@include desde (web){
					width: 22%;
				}
				@include desde (hd){
					width: 18%;
				}
			}
			input[type="submit"]{
				padding: 4px 8px;
				color: #fff;
				text-align: center;
				border-radius: 60px;
				display: block;
				border: 1px solid #fff;
				font-size: 1.2em;
				background:transparent;
				margin: 1.2em auto;
				width: 60%;
				@include desde (tablet){
					width: 35%;
				}
				@include desde (web){
					width: 22%;
				}
				@include desde (hd){
					width: 18%;
				}
			}
	}


}//fin.content